@import url('https://fonts.bunny.net/css2?family=Figtree:wght@400;600;700;800&display=swap');
.etudemain{
    width: 100%;
    min-height: 70vh;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
}
.etudemainleft{
    width: 50%;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
}
.etudemainleft img{
    width: 80%;
}
.etudemainright{
    width: 50%;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    /* padding: 30px; */
}
.etudemainrighttitle{
    width: 100%;
    font-size: 55px;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    font-weight: 800;
    color: #005940;
    line-height: 1.1;
    padding: 50px;
}