.registercontainer{
    width: 100%;
}
.registerform{
    margin-top: 150px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.registerinput{
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}
.registerinput input{
    width: 70%;
}
.registerinput label{
    align-items: center;
    align-content: left;
    justify-content: left;
    display: flex;
    width: 30%;
    text-transform: uppercase;
    font-weight: bolder;
    /* text-align: left; */
}
.registerinput select{
    width: 70%;
}

@media screen and (min-width: 300px) and (max-width: 767px) {
    .registercontainer{
        width: 100%;
    }
    .registerform{
        width: 100%;
        align-items: center;
        align-content: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .registerinput{
        align-items: center;
        align-content: center;
        justify-content: center;
        width: 100%;
        display: block;
        margin-bottom: 10px;
    }
    .registerinput input{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .registerinput label{
        align-items: left;
        align-content: left;
        justify-content: left;
        display: flex;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 12px;
        /* text-align: left; */
    }
    .registerinput select{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
    }
    
}